.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 46px 96px 50px;
}

.menu {
  color: #000000;
  justify-self: start;
}

.raw {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.text_menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
  text-transform: lowercase;
  border-bottom: 1px solid black;
}

.nonedecoration{
  text-decoration: none;
}

.logo {
  display: block;
  width: 148px;
  height: 105px;
}

.contakts {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  padding-right: 40px;
}

.contaktstyle {
  list-style: none;
  text-decoration: none;
  border-bottom: 2px solid black;
  width: 133px;
}

.cover {
  background-image: url(./../images/lotus-flower.svg);
  min-height: 757px;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: black;
  inset: 0;
  justify-self: auto;
  z-index: -1;
  opacity: 0.6;
}

.head_cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 86px;
}

.cover-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  letter-spacing: 0.3em;
  line-height: 115px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
  padding-left: 31px;
}

.right {
  display: block;
  text-align: end;
}

.letterspacingnormal{
  letter-spacing: normal;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: relative;
}

.text_cover {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18.5px;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
}

.lots {
  width: 1052px;
  min-height: 723px;
  justify-self: center;
  margin-top: 180px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots_card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 34px;
}

.card {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  list-style: none;
  display: flex;
  flex-direction: column;

}

.film {
  background-image: url(./../images/film.svg);
}

.book {
  background-image: url(./../images/book.svg);
}

.image {
  background-image: url(./../images/image.svg);
}

.href_lots {
  display: block;
  height: 100%;
  text-decoration: none;
}

.description-card {
  display: block;
  height: 100%;
  position: relative;
  z-index: 0;
}

.flex_content_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 48px 40px;
}

.head_card {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}

.card_text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}


.more_lots {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.about {
  width: 1052px;
  padding-top: 150px;
  padding-bottom: 181px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 23px;
  justify-self: center;
}

.black_circle {
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-self: center;
}

.image_logo {
  filter: invert(1);
  width: 159px;
  height: 114px;
}

.head_about {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
}

.paragraph_about {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-about {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 664px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0 82px 50px;
}

.footercenter {
  display: flex;
  justify-self: center;
  padding-right: 49px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
  text-transform: lowercase;
  border-bottom: 1px solid black;
}

.social_list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 10px;
}

.link-active {
  list-style: none;
  border-bottom: none;
}